In [58]:
import numpy as np
import pandas as pd

In [59]:
cust = pd.read_csv('olist_customers_dataset.csv')
geoloc = pd.read_csv('olist_geolocation_dataset.csv')
ord_items = pd.read_csv('olist_order_items_dataset.csv')
ord_payments = pd.read_csv('olist_order_payments_dataset.csv')
ord_reviews = pd.read_csv('olist_order_reviews_dataset.csv')
orders = pd.read_csv('olist_orders_dataset.csv')
products = pd.read_csv('olist_products_dataset.csv')
sellers = pd.read_csv('olist_sellers_dataset.csv')
cat = pd.read_csv('product_category_name_translation.csv')

In [60]:
geoloc_cust = geoloc.drop(columns=['geolocation_city','geolocation_state'])
geoloc_seller = geoloc.drop(columns=['geolocation_city','geolocation_state'])

In [61]:
geoloc_seller = geoloc_seller.rename(columns={'geolocation_zip_code_prefix':'seller_zip_code_prefix'})
geoloc_seller = geoloc_seller.drop_duplicates(subset='seller_zip_code_prefix')
display(geoloc_seller.head(),geoloc_seller.shape)

   seller_zip_code_prefix  geolocation_lat  geolocation_lng
0                    1037       -23.545621       -46.639292
1                    1046       -23.546081       -46.644820
3                    1041       -23.544392       -46.639499
4                    1035       -23.541578       -46.641607
5                    1012       -23.547762       -46.635361

(19015, 3)

In [62]:
geoloc_cust = geoloc_cust.rename(columns={'geolocation_zip_code_prefix':'customer_zip_code_prefix'})
geoloc_cust = geoloc_cust.drop_duplicates('customer_zip_code_prefix')
display(geoloc_cust.head(),geoloc_cust.shape)

   customer_zip_code_prefix  geolocation_lat  geolocation_lng
0                      1037       -23.545621       -46.639292
1                      1046       -23.546081       -46.644820
3                      1041       -23.544392       -46.639499
4                      1035       -23.541578       -46.641607
5                      1012       -23.547762       -46.635361

(19015, 3)

In [63]:
cust = pd.merge(cust,geoloc_cust,on='customer_zip_code_prefix',how='left')
display(cust.head(),cust.shape)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,geolocation_lat,geolocation_lng
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.509897,-47.397866
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,-23.726853,-46.545746
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,-23.527788,-46.660310
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,-23.496930,-46.185352
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,-22.987222,-47.151073

(99441, 7)

In [64]:
sellers = pd.merge(sellers,geoloc_seller,on='seller_zip_code_prefix',how='left')
display(sellers.head(),sellers.shape)

,seller_id,seller_zip_code_prefix,seller_city,seller_state,geolocation_lat,geolocation_lng
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP,-22.898536,-47.063125
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP,-22.382941,-46.946641
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ,-22.910641,-43.176510
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP,-23.657250,-46.610759
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP,-22.971648,-46.533618

(3095, 6)